<div class="todo_section" (click)="closeEditState($event)">
  <ul class="todo_list">
    @for (todo of renderedTodos(); track todo.id) {
    <li class="todo_item">
      <div class="status_changer">
        <input
          type="checkbox"
          class="toggle_box"
          [checked]="todo.isCompleted"
          (change)="toggleItem(todo.id)"
        />
        @if (todo.isCompleted) {
        <span class="status done">Kész</span>
        } @else if (!todo.isCompleted) {
        <span class="status pending">Függőben</span>
        }
      </div>

      <div>
        @if (editedTodo()?.id === todo.id) {
        <input
          type="text"
          class="title_input"
          name="title"
          [value]="todo.title"
          (input)="editTitle($event)"
          #titleInput
        />
        } @else {
        <p class="todo_title">{{ todo.title }}</p>
        }
      </div>

      <div class="deadline_cont">
        <span class="font_bold">határidő: </span>
        @if (editedTodo()?.id === todo.id) {
        <input
          type="date"
          class="date_input"
          name="deadline"
          (change)="editDeadline($event)"
        />
        } @else {
        <span>
          {{ todo.deadline }}
        </span>
        }
      </div>
      <div class="buttons">
        <button (click)="deleteItem(todo.id)" class="button del_button">
          <img src="/delete.svg" alt="" />
        </button>
        <button
          class="button edit_button"
          (click)="openEditState(todo, $event)"
        >
          <img src="/edit.svg" alt="" />
        </button>
      </div>

      @if (todo.category) {
      <div [ngClass]="['category', todo.category.color]">
        <span>{{ todo.category.name }}</span>
      </div>
      }
    </li>
    }
  </ul>

  @if (formOpen()) {
  <div class="form_container" (click)="closeForm($event)">
    <app-form (requestCloseFrom)="closeForm(null)" />
  </div>
  } @else {

  <button class="open_form" (click)="openForm()">
    Új feladat hozzáadása +
  </button>
  }
</div>
