<div class="todo_section">
  <ul class="todo_list">
    @for (todo of renderedTodos(); track todo.id) {
    <li
      class="todo_item"
      [ngClass]="[todo.id]"
      data-item-container
      [attr.data-todo-id]="todo.id"
      #todoItem
    >
      <div class="status_changer">
        <input
          type="checkbox"
          class="toggle_box"
          [checked]="todo.isCompleted"
          (change)="toggleCompletion(todo.id)"
        />
        @if (todo.isCompleted) {
        <span class="status done">Kész</span>
        } @else if (!todo.isCompleted) {
        <span class="status pending">Függőben</span>
        }
      </div>

      <div>
        @if (itemFormOpen() && editedTodo()?.id === todo.id) {
        <input
          type="text"
          class="title_input"
          name="title"
          [value]="todo.title"
          (input)="editTitle($event)"
          #titleInput
        />
        } @else {
        <p class="todo_title">{{ todo.title }}</p>
        }
      </div>

      <div class="deadline_cont">
        <span class="font_bold">határidő: </span>
        @if (itemFormOpen() && editedTodo()?.id === todo.id) {
        <input
          type="date"
          class="date_input"
          name="deadline"
          (change)="editDeadline($event)"
        />
        } @else {
        <span>
          {{ todo.deadline }}
        </span>
        }
      </div>
      <div class="buttons">
        <button (click)="deleteItem(todo.id)" class="button del_button">
          <img src="/delete.svg" alt="" />
        </button>

        @if (itemFormOpen() && editedTodo()?.id === todo.id) {
        <button class="button save_button" (click)="updateTodo()">
          <img src="/save.svg" alt="" />
        </button>
        } @else {
        <button
          class="button edit_button"
          (click)="
            openEditState(todo);
            requestOpenItemForm.emit(todoItem.dataset['todoId']!)
          "
        >
          <img src="/edit.svg" alt="" />
        </button>
        }
      </div>

      @if (todo.category) {
      <div [ngClass]="['category', todo.category.color]">
        <span>{{ todo.category.name }}</span>
      </div>
      }
    </li>
    }
  </ul>

  @if (todoFormOpen()) {
  <div class="form_container">
    <app-form
      [formOpen]="todoFormOpen()"
      (requestCloseForm)="requestCloseTodoForm.emit()"
    />
  </div>
  }

  <div class="open_form_container">
    <button
      [ngClass]="{ open_form: true, hidden: todoFormOpen() }"
      (click)="requestOpenTodoForm.emit()"
    >
      Új feladat hozzáadása +
    </button>
  </div>
</div>
