.todo_section {
  padding-inline: 3rem;
  height: 100%;
  position: relative;
}

.todo_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo_item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.8fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding-left: 0.7rem;
  background-color: white;
  border-radius: 6px;
  position: relative;

  .status {
    padding: 4px;
    padding-inline: 6px;
    border-radius: 6px;
    margin-left: 4px;
  }

  .done {
    background-color: lightgreen;
  }

  .pending {
    background-color: burlywood;
  }
}

.status_changer {
  display: flex;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.button {
  border: none;
  padding: 0;
  margin: 0;
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--clr-grey-300);

  &:hover {
    cursor: pointer;
    background-color: var(--clr-grey-400);
  }
}

.toggle_box {
  width: 1rem;
  aspect-ratio: 1;
}

.deadline_cont {
  display: flex;
  align-items: center;
  gap: 6px;
}

.open_form {
  background: black;
  color: white;
  padding: 8px 3rem;
  border-radius: 999px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    cursor: pointer;
    background-color: var(--clr-grey-700);
  }
}

.form_container {
  position: absolute;
  inset: 0;
  // background-color: hsl(0, 0%, 0%, 0.8);
  display: grid;
  place-items: center;
}

.category {
  position: absolute;
  top: 0;
  left: 50%;
  width: fit-content;
  transform: translateY(-40%) translateX(-50%);
  font-size: 12px;
  font-weight: 600;
  border-radius: 999px;
  padding-inline: 10px;
  color: white;
}
