.app {
  height: 100%;
  min-height: 100vh;
  background-color: var(--clr-grey-400);
  background-color: hsl(243, 54%, 15%);
  display: grid;
  place-items: center;
  position: relative;
}

.app-container {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translateY(-10%);
}

.header {
  h1 {
    font-size: 22px;
  }
}

.main {
  background-color: var(--clr-grey-300);
  padding: 16px;
  border-radius: 8px;
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
  position: relative;
}

.popup {
  padding-inline: 1rem;
  position: absolute;
  top: 3rem;
  padding-block: 0.5rem;
  font-size: 1.5rem;
  border-radius: 12px;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  box-shadow: 0 0 10px 10px hsla(0, 0%, 0%, 0.2);
}

.popup_todo-added {
  background-color: var(--clr-bg-green);

  &.active {
    opacity: 1 !important;
  }
}

.popup_todo-deleted {
  background-color: var(--clr-bg-red);

  &.active {
    opacity: 1;
  }
}

.title {
  color: #e23237;
  font-size: 2.5rem !important;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  text-wrap: nowrap;
}

.logo-container {
  display: inline-block;
  width: 180px;
  transform: translateY(77px);
}

.github_outer-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.github-icon_link {
  background-color: white;
  border-radius: 100%;
  width: 40px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.github-icon {
  transform: scale(1.05);
}

.code_text {
  font-size: 2rem;
  font-weight: 700;
  color: #e23237;
}
