<aside class="category-section">
  <div class="filters_container">
    <h2 class="cat_title">Státusz</h2>
    <ul>
      @for (filter of defaultFilters(); track filter.name) {
      <li
        class="filter"
        [ngClass]="{ active: filter.isActive }"
        (click)="setFilterActive(filter.id)"
      >
        {{ filter.name }}
      </li>
      }
    </ul>
    <h2 class="cat_title">Kategóriák</h2>
    <ul>
      @for (category of categoryFilters(); track category.name) {
      <li
        class="filter"
        [ngClass]="{ active: category.isActive }"
        (click)="setCategoryActive(category.name)"
      >
        <div [ngClass]="category.color"></div>
        {{ category.name }}
      </li>
      }
    </ul>
  </div>

  <div class="add_category_container" data-form-container>
    @if (formOpen()) {
    <input type="text" class="category_input" #nameInput />

    <app-color-picker #colorPickerRef />

    <button
      class="add-category-button"
      (click)="submitCategory(nameInput.value, colorPickerRef.pickedColor())"
    >
      OK
    </button>
    } @else {

    <button
      class="add_category"
      id="add_category"
      (click)="requestOpenForm.emit()"
    >
      Új kategória +
    </button>
    }
  </div>
</aside>
