.category-section {
  background-color: var(--clr-grey-100);
  border-radius: 8px;
  padding: 30px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo_item {
  padding-left: 8px;

  &:hover {
    cursor: pointer;
    background-color: var(--clr-grey-300);
  }
}

.active {
  background-color: var(--clr-grey-300);
}

.cat_title {
  font-size: 1.5rem;
}

.cat_title:last-of-type {
  margin-top: 1rem;
}
