.category-section {
  background-color: var(--clr-grey-100);
  border-radius: 8px;
  padding: 30px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter {
  padding-left: 8px;

  &:hover {
    cursor: pointer;
    background-color: var(--clr-grey-300);
  }
}

.active {
  background-color: var(--clr-grey-300);
}

.cat_title {
  font-size: 1.5rem;
}

.cat_title:last-of-type {
  margin-top: 1rem;
}

.add_category {
  background-color: black;
  color: white;
  border-radius: 999px;
  padding-block: 8px;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: var(--clr-grey-700);
  }
}

.add_category_container {
  display: flex;
}

.category_input {
  width: 0px;
  flex-grow: 1;
}
