<aside class="category-section">
  <div class="filters_container">
    <h2 class="cat_title">Státusz</h2>
    <ul>
      @for (filter of defaultFilters(); track filter.name) {
      <li
        class="filter"
        [ngClass]="{ active: filter.isActive }"
        (click)="setFilterActive(filter.id)"
      >
        {{ filter.name }}
      </li>
      }
    </ul>
    <h2 class="cat_title">Kategóriák</h2>
    <ul>
      @for (category of categoryFilters(); track category.name) {
      <li
        class="filter category-filter"
        [ngClass]="{ active: category.isActive }"
        (click)="setCategoryActive(category.name, $event)"
      >
        <div [ngClass]="category.color"></div>
        <span>{{ category.name }}</span>

        @if (category.name !== 'Mind') {
        <button
          data-delete-button
          class="del-category-button"
          (click)="deleteCategory(category.name)"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
            />
          </svg>
        </button>
        }
      </li>
      }
    </ul>
  </div>

  <div class="add_category_container" data-form-container>
    @if (formOpen()) {
    <input type="text" class="category_input" #nameInput />

    <app-color-picker #colorPickerRef />

    <button
      class="add-category-button"
      (click)="submitCategory(nameInput.value, colorPickerRef.pickedColor())"
    >
      OK
    </button>
    } @else {

    <button
      class="add_category"
      id="add_category"
      (click)="requestOpenForm.emit()"
    >
      Új kategória +
    </button>
    }
  </div>
</aside>
