/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------
   GLOBAL STYLES
   ------------- */
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

:root {
  --clr-grey-100: hsl(0, 0%, 98%);
  --clr-grey-200: hsl(0, 0%, 94%);
  --clr-grey-300: hsl(0, 0%, 90%);
  --clr-grey-400: hsl(0, 0%, 80%);
  --clr-grey-500: hsl(0, 0%, 60%);
  --clr-grey-600: hsl(0, 0%, 40%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 10%);
  --clr-grey-900: hsl(0, 0%, 5%);

  --clr-bg-green: hsl(100, 70%, 60%);
  --clr-bg-red: hsl(0, 70%, 60%);

  --ff-base: "TikTok Sans", sans;
}

html,
body {
  height: 100%;
  font-family: var(--ff-base);
}

/* --------------
 UTILITY CLASSES 
  -------------- */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.font_bold {
  font-weight: 700;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
