<form class="form" (ngSubmit)="submitForm(todoForm)" #todoForm="ngForm">
  <p class="form_title">Új feladat</p>
  <input
    type="text"
    class="input"
    name="title"
    placeholder="Címke"
    [(ngModel)]="form().title"
  />
  <input
    type="date"
    class="input"
    name="description"
    placeholder="Leírás"
    [(ngModel)]="form().deadline"
  />
  <select
    name="category"
    class="input select"
    id=""
    (change)="logChange($event)"
    [(ngModel)]="form().category"
  >
    <option [ngValue]="EMPTY_CATEGORY">Válassz kategóriát</option>
    @for (category of categories(); track category) { @if (category.name
    !=='Mind') {
    <option [ngValue]="category">{{ category.name }}</option>
    } }
  </select>
  <button type="submit" class="submit_button">Hozzáadás +</button>
</form>
